<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--The startup field sets the required .NET Framework version-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<!--During runtime, remotely loaded sources are enabled. These are generally disabled, as they are a security risk. In this case, any and all code that DotDumper loads, needs to be executed, hence the fact that this setting is enabled-->
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>
